.grid {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.row, .header {
  cursor: pointer;

  .fieldHeader {
    font-weight: bold;
    font-size: 20px;
  }

  .field {
  	font-family: helvetica;
  	display: inline-block;
  	padding: 0.25rem 0.5rem;
  	min-width: 20rem;
  }
}

.row:hover {
  background: rgba(0,0,0,0.3);
}

.footer {
	.more:hover, .less:hover, .next:hover, .previous:hover {
		background: LightGray;
	}
	.more, .less, .next, .previous {
		font-size: 20px;
		display: inline-block;
		padding: 2rem;
		cursor: pointer;
	}

	.toHome {
    	background-color: DodgerBlue;
    	border: none;
    	color: white;
	    padding: 15px 32px;
    	text-align: center;
	    text-decoration: none;
    	display: inline-block;
	    font-size: 16px;
	}
}